<p>calculator works!</p>
<label class="form-label">Input Number One</label>
<label>
  <input type="number" class="form-control" (change)="getNumberOne($event.target.value)">
</label>

<label class="form-label">Input Number Two</label>
<label>
  <input type="number" class="form-control" (change)="getNumberTwo($event.target.value)">
</label>

<button type="button" value="+" class="btn btn-primary" (click)="showResult($event.target.value) ">Add</button>
<button type="button" value="-" class="btn btn-primary" (click)="showResult($event.target.value) ">Sub</button>
<button type="button" value="*" class="btn btn-primary" (click)="showResult($event.target.value) ">Multiple</button>
<button type="button" value="/" class="btn btn-primary" (click)="showResult($event.target.value) ">Divide</button>
<br>
<p class="bg-light">Result {{result}}</p>
