<div class="col-lg-6 col-sm-12 position-relative">
  <div class="card me-2" style="width: 100%;">
    <a href=""><img src="assets/img/resort1.jpg" class="card-img-top"></a>
    <div class="card-body">
      <p class="card-text">
        resort</p>
    </div>
  </div>
</div>
<div class="col-lg-6 col-sm-12 position-relative">
  <div class="card me-2" style="width: 100%;">
    <a href=""><img src="assets/img/resort2.jpg" class="card-img-top"></a>
    <div class="card-body">
      <p class="card-text">
        resort</p>
    </div>
  </div>
</div>
<div class="col-lg-6 col-sm-12 position-relative">
  <div class="card me-2" style="width: 100%;">
    <a href=""><img src="assets/img/resort3.jpg" class="card-img-top"></a>
    <div class="card-body">
      <p class="card-text">
        resort</p>
    </div>
  </div>
</div>
<div class="col-lg-6 col-sm-12 position-relative">
  <div class="card me-2" style="width: 100%;">
    <a href=""><img src="assets/img/resort4.jpg" class="card-img-top"></a>
    <div class="card-body">
      <p class="card-text">
        resort</p>
    </div>
  </div>
</div>

