<h2> Danh Sách các xe đăng ký ở bến xe Đà Nẵng </h2>
<button type="button" class="btn btn-info"><a style="text-decoration: none">Create New Car Transfer</a></button>
<table class="table table-light table-striped table-hover">
  <thead>
  <tr>
    <th>Số Xe</th>
    <th>Loại Xe</th>
    <th>Tên Nhà Xe</th>
    <th>Điểm Đi</th>
    <th>Điểm đến</th>
    <th>Số điện thoại</th>
    <th>Email</th>
    <th>Giờ xuất phát</th>
    <th>Giờ đến</th>
    <th colspan="2">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let items of carArr | paginate: { itemsPerPage: 5, currentPage: p}">
    <td>{{items.id}}</td>
    <td>{{items.typeCar}}</td>
    <td>{{items.nameGarage}}</td>
    <td>{{items.placeFrom.name }}</td>
    <td>{{items.placeTo.name}}</td>
    <td>{{items.phone}}</td>
    <td>{{items.email}}</td>
    <td>{{items.timeStart}}</td>
    <td>{{items.timeEnd}}</td>
    <td>
      <button  type="button" class="btn btn-warning" (click)="showEdit(items.id)" >Sửa</button>
    </td>
<!--    <td>-->
<!--      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="showModal(items)">Xoa</button>-->
<!--    </td>-->
    <td>
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" (click)="showModal(items)" data-bs-target="#staticBackdrop">
        Xóa
      </button>
    </td>
  </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>

<!-- Modal -->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <span *ngIf="carObj">Ban co muon xoa so xe nay {{carObj.id}} ??</span>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onDelete()">Are you sure</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Xác Nhận Xóa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span *ngIf="carObj" style="color: red" >Bạn có muốn xóa xe  {{carObj.nameGarage}} với Mã số xe Là {{carObj.id}} ??</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="onDelete()" >Delete</button>
      </div>
    </div>
  </div>
</div>
